{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ password['Title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="Title">Title</label>
    <input name="Title" id="Title" value="{{ request.form['Title'] }}" required>
    <label for="Username">User_id</label>
    <input name="Username" id="Username" value="{{ request.form['Username'] }}" required>
    <label for="EncryptedPassword">Pwd</label>
    <input name="EncryptedPassword" id="EncryptedPassword" value="{{ request.form['EncryptedPassword'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('password.delete', PasswordID=password['PasswordID']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}